body {
  background-color: darkgrey;
  height: 100%;
  width: 100%;
}

.header-banner {
  background-color: #333;
  background-image: url("https://taxischiphol-airport.com/5741926.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 175px;
  margin-top: 60px;
}
content h1 h2 {
}

content h1 {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

content h2 {
  color: white;
  font-size: 75px;
  font-family: Helvetica, Arial, sans-serif;
}

.content-btn {
  border-radius: 15px;
  background-color: gold;
  color: black;
  height: 50px;
  width: 150px;
  box-shadow: rgb(red, green, blue);
}

.content-btn:hover {
  background-color: goldenrod;
}
/* Make Nav Sticky */
.fixed-header {
  /* height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: salmon;
  color: white; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.logo-container img {
  height: 50px;
  width: 135px;
  float: left;
}
nav {
  width: 20%vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  float: right;
  color: white;
}

.nav-link:hover {
  color: #fec810;
}

/* BREAKPOINTS */
@media (min-width: 1024px) and (max-width: 1280px) {
  body {
    background-color: green;
    align-content: center;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightblue;
    align-content: center;
    text-align: center;
  }
  \ h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 65px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: lightsalmon;
    align-content: center;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 45px;
  }
}
@media (max-width: 480px) {
  body {
    background-color: lightyellow;
    align-content: center;
    text-align: center;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 35px;
  }
}
